* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: plum;
    padding: 16px 0;
    color: rgb(11, 11, 196);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a {
    color: rgb(11, 11, 196);
    text-decoration: none;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
} 

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 245px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blueviolet;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 23px;
    color: aqua;
}

section h2 {
    font-size: 35px;
}

.articles article p {
    color: rgba(255, 255, 255, 0.61);
}

section h2 {
    color: white;
}

.creation-date {
    color: white;
}

body section {
    background-color: rgb(65, 61, 61) ;
}

#tecnologia {
    background-color: rgb(110, 214, 100);
}
#tecnologia a {
    background-color: black;
}

#tecnologia h2 {
    color: white;
}

#tecnologia p {
    color: black;
}

#tecnologia h3 {
    color: blue;
}
